{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} | Jugendkicker</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <script>{% block beforeloadscript %} {% endblock %}</script>
</head>


<body>
    {% csrf_token %}
    {% block hello %}
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>

<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% block scriptsource %}{% endblock %}"></script>
<script type="text/javascript" src="{% static 'js/alpineJS.min.js' %}"></script>


</html>
