{% extends 'kickerapp/base.html' %}
{% load static %}
{% block title %}Aktuelles Spiel{% endblock %}

{% block body %}
<h1>Running Game</h1>
<div id="game-display" class="container mo-2" x-data="game()">
    <div class="row">
        <div class="col text-center">
            <h2 id="name-blue">{{bname}}</h2>
            <div class="score" id="score-blue" x-text="$store.game.b.score">{{ bscore }}</div>
            <div class="btn-group" role="group" aria-label="Update score team blue">
                <button class="btn btn-outline-primary" id="b+1" @click="changeScore('b','+')">Blue Plus</button>
                <button class="btn btn-outline-primary" id="b-1" @click="changeScore('b','-')">Blue Minus</button>
            </div>
        </div>
        <div class="col text-center">
            <h2 id="name-red">{{rname}}</h2>
            <div class="score" id="score-red" x-text="$store.game.r.score">{{ rscore }}</div>
            <div class="btn-group" role="group" aria-label="Update score team blue">
                <button class="btn btn-outline-primary" id="r+1" @click="changeScore('r','+')">Red Plus</button>
                <button class="btn btn-outline-primary" id="r-1" @click="changeScore('r','-')">Red Minus</button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <!-- only show voting button to end game when game is running -->
        <template x-if="$store.game.running">
            <button class="btn btn-outline-dark" @click="closeGame()">Spiel beenden</button>
        </template>
        <!-- otherwise show button to reload page -->
        <template x-if="!$store.game.running">
            <button class="btn btn-outline-dark" @click="window.location.reload(true)">Zurück zur Startseite</button>
        </template>
    </div>
</div>

<div id="poll-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true"
    aria-labelledby="modal-heading" x-data="poll()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-heading"
                    x-text="$store.poll.status === 'polling' ? 'Laufende Umfrage:' : 'Umfrageergebnis:'"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    :disabled="$store.poll.status === 'polling'"></button>
            </div>
            <div class="modal-body">
                <p x-text="msg"></p>
                <div id="poll-bar">
                    <div id="yes-bar" class="vote-bar"></div>
                    <div id="mid-bar"></div>
                    <div id="no-bar" class="vote-bar"></div>
                </div>
                <div x-text="'Anzahl an Teilnehmer:innen: ' + $store.poll.numPollers"></div>
            </div>
            <template x-if="$store.poll.status === 'polling'">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="vote('yes')" :disabled="voted">Ja</button>
                    <button type="button" class="btn btn-primary" @click="vote('no')" :disabled="voted">Nein</button>
                </div>
            </template>
            <template x-if="$store.poll.status != 'polling'">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                        :disabled="$store.poll.status === 'polling'">Schließen</button>
                </div>
            </template>
        </div>
    </div>
</div>

<div id="alert-list">

</div>


{% endblock %}

{% block scriptsource %}
{% static 'js/running_game.js' %}
{% endblock %}